<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Versity</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/variables.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/animations.css') }}">

</head>

<body>

<h1>Welcome to Versity</h1>

<script
src="{{ url_for('static', filename='js/app.js') }}">
</script>

</body>

</html>